
<ion-view class="Leapview" >
    <ion-header-bar class="bar-positive leapviewtitleview">
        <img class="backbuttonimg" ng-click="goBack()"
                         src="img/leftback.png"></img>
        <img class="titlepnglogo"src="img/headertitle.png">   
    </ion-header-bar>
    
    
    <ion-content class="mainback">
        
         <div class = "groupItem" style="margin-top:1%">
                       <div class="titledetail">Details(optional):</div>
                       <!--<label class="item item-input urlstr">
                       <input type="text" placeholder = "Youtube Url">
                       </label>-->
                       <textarea class="item item-input detailtext"> 
                       </textarea>
         </div> 
         
         <div class = "buttongroup" style="margin-top:4%">
                     
                                <button class="buttoncancel" ng-click="cancelclick()">
                                            Cancel
                                </button>
                            
                                <button class="buttonpost" ng-click="postclick()">
                                            Post
                                </button>
         </div>
     
       
    </ion-content>
</ion-view>






