<ion-tabs class="tabs-icon-top tabs-color-active-positive maintabboard">

  <!-- Community Tab -->
  <ion-tab 
        class="tab-status" 
        icon-off="community_img_off" 
        icon-on="community_img_on" 
        href="#/tab/mainboard">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab 
        class="tab-profile"
        icon-on = "profile_img_on" 
        icon-off = "profile_img_off"   
        href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Notifcation Tab -->
  <ion-tab 
        class="tab-account"
        icon-on="notifi_img_on" 
        icon-off="notifi_img_off" 
        href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
    
  </ion-tab>


</ion-tabs>