
<ion-view class="Usercreateviewpart">
    <ion-nav-bar class=" bar-positive">
        
        <ion-nav-buttons side="left">
            
             <button class="button button-icon button-clear " style=" margin-left: 5px;margin-top:5px"  ng-click="goBack()"> 
               <img src="img/leftback.png">
            </button>
        
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear" ng-click="goProfile()">
            </button>
        </ion-nav-buttons>
        
    </ion-nav-bar>
    <ion-header-bar class="bar-positive bar titlebarview1">
       <p class="navbartitle">User Creation</p>
    </ion-header-bar>
    
    <ion-content >
      
      
      
                 <div class = "groupItem2" style="margin-top:10%">
                       <div class="title">Your Firstname * </div>
                       <label class="item item-input Username">
                       <input type="text" placeholder = "Test">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Your Lastname * 
                       <label class="item item-input Username"> 
                       <input type="text" placeholder = "Test"> 
                       </label>
                       </div>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Gender</div>
                              
                                <select class="genderselect">
                                    <option>male</option>
                                    <option selected>Please Select...</option>
                                    <option>female</option>
                                </select>
                              
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Date of Birth* </div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Place fo birth*</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Time fo birth*</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Nationality*</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Your FaceBook*</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Your Twitter*</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Your Instagram*</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Your Linkedin*</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                <div class = "groupItem2">
                       <div class="title2">Your Pinterest*</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                </div>
                
                 <div class = "groupItem2">
                       <div class="title2">Family</div>
                              
                                <select class="genderselect">
                                    <option>Please Select...</option>
                                    <option>Married</option>
                                    <option>Single</option>
                                </select>
                              
                       </label>
                </div>
                
                 <div class = "groupItem2">
                       <div class="title2">Paytime</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                 </div>
                 
                  <div class = "groupItem2">
                       <div class="title2">Business name</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                 </div>
                 
                 <div class = "groupItem2">
                       <div class="title2">Business version</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                 </div>
                 
                 <div class = "groupItem2">
                       <div class="title2">Business mission</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                 </div>
                 
                 <div class = "groupItem2">
                       <div class="title2">Commitment</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "10">
                       </label>
                 </div>
                 
                 
                 
                 <div class = "groupItem2">
                       <div class="title2">CVS</div>
                       <label class="item item-input birthday">
                       <input type="text" placeholder = "">
                       </label>
                 </div>
                </div>    
                 <button class="usercreatbutton" ng-click="usercreaatbtn()" >
                Save
                </button>
                
                
                
    </ion-content>
</ion-view>






